<div role="tabpanel" class="tab-pane" id="barchartmap_tab">
  <div
    id="mode-share-by-county"
    class="row dynamic-content"
    charttype="barchartmap"
  >
    <p class="text-center" style="font-size:2em">
      <span id="page-title">
        <strong> <span class="mode-share-by-county-trip-mode"></span>,</strong>
        by
        <span class="mode-share-by-county-area-type"></span>
      </span>
      <span
        class="glyphicon glyphicon-info-sign"
        data-toggle="tooltip"
        data-placement="bottom"
        title=""
      ></span>
    </p>
    <div class="col-xs-6 right-border" style="margin-top:4px">
      <div class="row">
        <div class="row" style="margin-top:4px">
          <div class="col-xs-10"></div>
          <div class="col-xs-2">
            <label>
              <input
                type="checkbox"
                checked
                id="mode-share-by-county-stacked"
              />
              Stacked
            </label>
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;height:70%;">
        <svg id="mode-share-by-county-chart"></svg>
      </div>
    </div>
    <div class="col-xs-6">
      <div
        class="col-xs-12"
        id="mode-share-by-county-checkboxes"
        style="font-weight: bold;"
      ></div>
      <div
        class="col-xs-12"
        id="mode-share-by-county-map"
        style="width: 100%;height:50%;"
      ></div>

      <div class="zone-bubble-toggle-container">
        <div class="map-control-set">
          <label>Display</label>
          <div class="btn-group zone-button-toggle" role="group">
            <button
              id="mapZoneToggleButton"
              class="btn btn-default btn-primary"
            >
              Zones
            </button>
            <button id="mapBubbleToggleButton" class="btn btn-default">
              Bubbles
            </button>
          </div>
        </div>
        <div class="bar-chart-map__control-grid">
          <div class="zone-control-set">
            <label
              class="mode-share-by-county-trip-mode-zones zone-label"
            ></label>
            <select
              class="form-control zone-control"
              id="mode-share-by-county-current-trip-mode-zones"
            ></select>
          </div>

          <div class="zone-control-set">
            <label
              id="mode-share-by-county-classification-label"
              class="classification-label"
            >
              Classification
            </label>
            <select
              class="form-control zone-control"
              id="mode-share-by-county-classification"
            >
              <option value="quartiles" selected="selected">Quartiles</option>
              <option value="jenks">Natural breaks (Jenks)</option>
              <option value="even-interval">Even interval</option>
            </select>
          </div>

          <div class="zone-control-set">
            <label class="palette-label zone-control">Palette</label>
            <div id="mode-share-by-county-pallette" class="ramp-palette">
              <svg
                width="60"
                height="15"
                class="ramp bar-chart-map__ramp Blues"
              >
                <rect
                  fill="rgb(239,243,255)"
                  width="15"
                  height="15"
                  x="0"
                ></rect>
                <rect
                  fill="rgb(189,215,231)"
                  width="15"
                  height="15"
                  x="15"
                ></rect>
                <rect
                  fill="rgb(107,174,214)"
                  width="15"
                  height="15"
                  x="30"
                ></rect>
                <rect
                  fill="rgb(49,130,189)"
                  width="15"
                  height="15"
                  x="45"
                ></rect>
              </svg>
              <svg
                width="60"
                height="15"
                class="ramp bar-chart-map__ramp Blues"
              >
                <rect fill="rgb(222,45,38)" width="15" height="15" x="0"></rect>
                <rect
                  fill="rgb(198,110,9)"
                  width="15"
                  height="15"
                  x="15"
                ></rect>
                <rect
                  fill="rgb(133,130,23)"
                  width="15"
                  height="15"
                  x="30"
                ></rect>
                <rect
                  fill="rgb(34,139,34)"
                  width="15"
                  height="15"
                  x="45"
                ></rect>
              </svg>
            </div>
          </div>

          <div class="bubble-control-set">
            <label
              class="mode-share-by-county-trip-mode-bubbles bubble-control-label"
              style="font-weight:bold"
            ></label>
            <select
              class="form-control bubble-control"
              id="mode-share-by-county-current-trip-mode-bubbles"
            ></select>
          </div>
          <div class="bubble-control-set">
            <label class="bubble-control-label">Size</label>
            <select
              id="mode-share-by-county-bubble-size"
              class="form-control bubble-control"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option selected>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
            </select>
          </div>
          <div class="bubble-control-set">
            <label class="bubble-control-label">Color</label>
            <input
              type="text"
              class="col-xs-8 hidden"
              id="mode-share-by-county-bubble-color"
            />
          </div>
        </div>
      </div>
      <div
        id="mode-share-by-county-tools"
        class="bar-chart-map__filter-color-controls"
        style="text-align: right;"
      ></div>

      <div class="col-xs-12" style="margin-top:1em;">
        <div
          style="margin-bottom:1em;margin-top:1.6em;"
          id="mode-share-by-county-slider"
        ></div>
        <div class="row">
          <div class="col-xs-6">
            <button
              id="mode-share-by-county-update-map"
              style="display:none"
              class="btn"
            >
              Update Map
            </button>
            <button id="mode-share-by-county-start-cycle-map" class="btn">
              Cycle Through Maps
            </button>
            <button
              id="mode-share-by-county-stop-cycle-map"
              class="btn"
              style="display:none"
            >
              Stop Cycle
            </button>
          </div>
          <div class="col-xs-6">
            Redraw

            <select
              id="mode-share-by-county-cycle-frequency"
              class="form-control form-control-inline"
            >
              <option value="1">every 1 sec</option>
              <option value="2">every 2 sec</option>
              <option value="3">every 3 sec</option>
              <option value="4">every 4 sec</option>
              <option value="5">every 5 sec</option>
              <option value="6">every 6 sec</option>
              <option value="7">every 7 sec</option>
              <option value="8">every 8 sec</option>
              <option value="9">every 9 sec</option>
              <option value="10">every 10 sec</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="margin-top:1em;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="datatable-div col-sm-12 " id="datatable-div">
    <button
      id="collapsebtn"
      class="btn"
      data-toggle="collapse"
      data-target=""
      style="margin-bottom:10px"
    >
      Show Data
    </button>
    <div id="datatable-collapse" class="collapse">
      <table id="datatable-table" style="width:100%">
        <thead>
          <tr></tr>
        </thead>
      </table>
      <div id="datatable-columns" class="col-sm-12">
        <strong>Data Column Notes:</strong>
      </div>
    </div>
  </div>
</div>
