<div role="tabpanel" class="tab-pane" id="grouped_tab">
  <div
    id="grouped-barchart-div"
    class="row dynamic-content"
    charttype="groupbarchart"
  >
    <p class="text-center" style="font-size:2em">
      <span class="page-title">
        <strong> <span class="grouped-barchart-main-group"></span>,</strong> by
        <span class="grouped-barchart-sub-group"></span>
      </span>
      <span
        class="glyphicon glyphicon-info-sign"
        data-toggle="tooltip"
        data-placement="bottom"
        title=""
      ></span>
    </p>
    <div class="col-xs-12">
      <div class="row grouped-bar-chart-controls" style="margin-top:4px">
        <ul>
          <li>
            <label class="checkbox-inline">
              <input id="grouped-barchart-pivot-axes" type="checkbox" />
              Swap bars and legend?
            </label>
          </li>
          <li>
            <label class="checkbox-inline">
              <input id="grouped-barchart-toggle-percentage" type="checkbox" />
              Show as Percentage?
            </label>
          </li>
          <li>
            <label class="checkbox-inline">
              <input id="grouped-barchart-toggle-horizontal" type="checkbox" />
              Show as Vertical?
            </label>
          </li>
          <li>
            <label class="checkbox-inline">
              <input id="grouped-barchart-toggle-stacked" type="checkbox" />
              Show as Stacked?
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" id="grouped-barmain" style="width:100%;">
      <div id="grouped-bar-container"></div>
    </div>
  </div>
  <div class="datatable-div col-sm-12 " id="datatable-div">
    <button
      id="collapsebtn"
      class="btn"
      data-toggle="collapse"
      data-target=""
      style="margin-bottom:10px"
    >
      Show Data
    </button>
    <div id="datatable-collapse" class="collapse">
      <table id="datatable-table" style="width:100%">
        <thead>
          <tr></tr>
        </thead>
      </table>
      <div id="datatable-columns" class="col-sm-12">
        <strong>
          Data Column Notes:
        </strong>
      </div>
    </div>
  </div>
</div>
<!-- end grouped-barchart -->
