      <div role="tabpanel" class="tab-pane" id="barchartmap_tab">
		<div id="mode-share-by-county" class="row dynamic-content" charttype="barchartmap">

			<p class="text-center" style="font-size:2em">
				<strong>
					<span class="mode-share-by-county-trip-mode"></span>,</strong> by
				<span class="mode-share-by-county-area-type"></span> <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title=""></span>
			</p>
			<div class="col-xs-6 right-border" style="margin-top:4px">
				<div class="row">


					<div class="row" style="margin-top:4px">
						<div class="col-xs-10">

						</div>
						<div class="col-xs-2">
							<label>
								<input type="checkbox" checked id="mode-share-by-county-stacked" />Stacked

							</label>
							<!-- <label><input type="checkbox" checked id="mode-share-by-county-legend-type" />Classic Legend/label>-->
						</div>
					</div>
				</div>
				<div class="row" style="width:100%;height:70%;">
					<svg id="mode-share-by-county-chart"></svg>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-xs-12">
					</div>
				<div class="col-xs-12">
				<div class="col-xs-4">
					<div class="mode-share-by-county-trip-mode-zones" style="font-weight:bold"></div>
				</div>
				<div class="col-xs-4">
					<div class="mode-share-by-county-trip-mode-bubbles" style="font-weight:bold"></div>
				</div>
				<div class="col-xs-4" style="margin-bottom:.1em;font-weight:bold">
					<div id="mode-share-by-county-classification-label">Classification</div>
				</div>
					</div>
				<div class="col-xs-12">
				<div class="col-xs-4">
					<select class="form-control" id="mode-share-by-county-current-trip-mode-zones"></select>
				</div>
				<div class="col-xs-4">
					<select class="form-control" id="mode-share-by-county-current-trip-mode-bubbles"></select>
				</div>
				<div class="col-xs-4" style="margin-bottom:2em;">
					<select class="form-control" id="mode-share-by-county-classification">
						<option value="quartiles" selected="selected">Quartiles</option>
						<option value="jenks">Natural breaks (Jenks)</option>
						<option value="even-interval">Even interval</option>
						<option value="custom">Custom</option>
					</select>
				</div>
					</div>
				<div class='col-xs-12' id="mode-share-by-county-checkboxes" style="font-weight: bold;">

				</div>
				<div class="col-xs-12" id="mode-share-by-county-map" style="width: 100%;height:50%;"></div>
				<div class="col-xs-5" id="mode-share-by-county-pallette" style="margin-top:1em;text-align:right">
					<table width="100%">
						<tr>
							<td rowspan="3">Palette:</td>
							<td>
								<div class="col-xs-12">
									<div class="row">
										<div class="ramp Blues">
											<svg width="60" height="15">
												<rect fill="rgb(239,243,255)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(189,215,231)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(107,174,214)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(49,130,189)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
										<div class="ramp Greens">
											<svg width="60" height="15">
												<rect fill="rgb(237,248,233)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(186,228,179)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(116,196,118)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(49,163,84)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
										<div class="ramp Greys">
											<svg width="60" height="15">
												<rect fill="rgb(247,247,247)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(204,204,204)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(150,150,150)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(99,99,99)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="row">
									<div class="col-xs-12">
										<div class="ramp Oranges">
											<svg width="60" height="15">
												<rect fill="rgb(254,237,222)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(253,190,133)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(253,141,60)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(230,85,13)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
										<div class="ramp Purples">
											<svg width="60" height="15">
												<rect fill="rgb(242,240,247)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(203,201,226)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(158,154,200)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(117,107,177)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
										<div class="ramp Reds">
											<svg width="60" height="15">
												<rect fill="rgb(254,229,217)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(252,174,145)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(251,106,74)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(222,45,38)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>

							<td>
								<div class="col-xs-12">
									<div class="row">
										<div class="ramp RedGreen">
											<svg width="60" height="15">
												<rect fill="rgb(222,45,38)" width="15" height="15" x="0"></rect>
												<rect fill="rgb(198,110,9)" width="15" height="15" x="15"></rect>
												<rect fill="rgb(133,130,23)" width="15" height="15" x="30"></rect>
												<rect fill="rgb(34,139,34)" width="15" height="15" x="45"></rect>
											</svg>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-xs-7" id='mode-share-by-county-tools' style="margin-top:1em;text-align:right">

					 Bubbles
					<input type="text" id="mode-share-by-county-bubble-color" /> Size:


					<select id="mode-share-by-county-bubble-size" >
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option selected>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
					</select>
					<input type="checkbox" id="mode-share-by-county-stroke"  /> Outline


					<nobr>
						<input type="text" id="mode-share-by-county-naColor" />N/A

					</nobr>
				</div>
				<div class="col-xs-12" style="margin-top:1em;">
					<div style="margin-bottom:1em;margin-top:1.6em;" id="mode-share-by-county-slider"></div>
					<div class="row">
						<div class="col-xs-6">
							<button id="mode-share-by-county-update-map" style="display:none" class="btn">Update Map</button>
							<button id="mode-share-by-county-start-cycle-map" class="btn">Cycle Through Maps</button>
							<button id="mode-share-by-county-stop-cycle-map" class="btn" style="display:none">Stop Cycle</button>
						</div>
						<div class="col-xs-6">
							Redraw


							<select id="mode-share-by-county-cycle-frequency" class="form-control form-control-inline">
								<option value="1">every 1 sec</option>
								<option value="2">every 2 sec</option>
								<option value="3">every 3 sec</option>
								<option value="4">every 4 sec</option>
								<option value="5">every 5 sec</option>
								<option value="6">every 6 sec</option>
								<option value="7">every 7 sec</option>
								<option value="8">every 8 sec</option>
								<option value="9">every 9 sec</option>
								<option value="10">every 10 sec</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12" style="margin-top:1em;">

						</div>
					</div>
				</div>
			</div>
		</div>
		  	<div class="datatable-div col-sm-12 " id="datatable-div">
        <button id="collapsebtn" data-toggle="collapse" data-target="" style="margin-bottom:10px">Show Data</button>
        <div id='datatable-collapse' class="collapse">
		<table id="datatable-table" style="width:100%">
			<thead>
			<tr></tr>
			</thead>
		</table>
                        <div id="datatable-columns" class="col-sm-12">
            <strong>Data Column Notes:</strong>
            </div>
        </div>
	</div>
      </div>