<div role="tabpanel" class="tab-pane" id="chord_tab">
  <div id="chord" class=" dynamic-content">
    <p class="text-center" style="font-size:2em">
      <span id="page-title">
        <strong> <span class="chord-chart-maingroup"></span>,</strong> by
      </span>
      <span
        class="glyphicon glyphicon-info-sign"
        data-toggle="tooltip"
        data-placement="bottom"
        title=""
      ></span>
    </p>
    <div class=" chordchartdiv right-border">
      <div id="chord-main">
        <div id="chord-dropdown-div" class="">
          <p></p>
        </div>

        <div
          id="chord-chart-container"
          class="chord-chart-container"
          charttype="chordchart"
        ></div>
      </div>
    </div>
    <div class=" col-sm-6 " id="chord-chart-map">
      <p></p>

      <div
        class="col-xs-12"
        id="chord-by-district-map"
        style="width: 100%;height:75%;"
      ></div>
      <div class="col-xs-6" style="margin-top:1em;text-align:right"></div>
    </div>
  </div>
  <div
    class="datatable-div col-sm-12 "
    id="datatable-div"
    style="margin-top:3%"
  >
    <button
      id="collapsebtn"
      class="btn"
      data-toggle="collapse"
      data-target=""
      style="margin-bottom:10px"
    >
      Show Data
    </button>
    <div id="datatable-collapse" class="collapse">
      <table id="datatable-table" style="width:100%">
        <thead>
          <tr></tr>
        </thead>
      </table>
      <div id="datatable-columns" class="col-sm-12">
        <strong>Data Column Notes:</strong>
      </div>
    </div>
  </div>
</div>
