<div role="tabpanel" class="tab-pane" id="featurebarmap_tab">
  <div id="featurebarmap" class="row dynamic-content" charttype="featurebarmap">
    <p class="text-center" style="font-size:2em">
      <strong> <span class="featurebarmap-trip-mode"></span>,</strong> by
      <span class="featurebarmap-area-type"></span>
    </p>
    <div class="col-xs-6 right-border" style="margin-top:4px">
      <div class="row">
        <div class="row" style="margin-top:4px">
          <div class="col-xs-10"></div>
          <div class="col-xs-2">
            <label>
              <input
                type="checkbox"
                checked
                id="featurebarmap-stacked"
              />Stacked
            </label>
            <!-- <label><input type="checkbox" checked id="mode-share-by-county-legend-type" />Classic Legend/label>-->
          </div>
        </div>
      </div>
      <div class="row" style="width:100%;height:70%;">
        <svg id="featurebarmap-chart"></svg>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-12" id="featurebarchart-filters"></div>
      <div class="col-xs-12"></div>

      <div
        class="col-xs-12"
        id="featurebarchart-map"
        style="width: 100%;height:50%;"
      ></div>

      <div
        class="col-xs-6"
        id="featurebarchart-tools"
        style="margin-top:1em;text-align:right"
      ></div>
    </div>
  </div>
</div>
