<div role="tabpanel" class="tab-pane" id="scatter_tab">
  <div id="scatter" class="row dynamic-content">
    <div class="col-xs-12 ">
      <p class="text-center" style="font-size:2em;width:1050px;">
        <strong><span class="scatter-chart-yaxis-title"></span></strong> /
        <strong><span class="scatter-chart-xaxis-title"></span></strong>
        <span
          class="glyphicon glyphicon-info-sign"
          data-toggle="tooltip"
          data-placement="bottom"
          title=""
        ></span>
      </p>
      <div id="scatter-tooltip" class="" selector="scattertooltip"></div>
      <div id="scatter-main">
        <div id="scatter-chart-container" charttype="scatterchart"></div>
      </div>
    </div>
  </div>
  <div class="datatable-div col-sm-12 " id="datatable-div">
    <button
      id="collapsebtn"
      class="btn"
      data-toggle="collapse"
      data-target=""
      style="margin-bottom:10px"
    >
      Show Data
    </button>
    <div id="datatable-collapse" class="collapse">
      <table id="datatable-table" style="width:100%">
        <thead>
          <tr></tr>
        </thead>
      </table>
      <div id="datatable-columns" class="col-sm-12">
        <strong>Data Column Notes:</strong>
      </div>
    </div>
  </div>
</div>
