body {
	padding-top: 50px;
}


/* strangely the nvd3 multiBarHorizontalChart has the axis names reversed so that the yaxis is actually along bottom.
Presumably this is because it used the smae code as the vertical chart
*/

.nvd3.nv-multiBarHorizontalChart .nv-x.nv-axis text {
	font-size: 15;
}

.nvd3.nv-multiBarHorizontalChart .nv-x.nv-axis text.current-county {
	font-weight: bold;
}

.right-border {
	border-right: 1px dashed #333;
}

.ramp {
	float: left;
	padding: 5px 5px 0 5px;
	cursor: pointer;
}

.ramp selected {
	border: 1px;
}

.slider-tip {
	opacity: 1;
	bottom: 120%;
	margin-left: -.5em;
}

.svg-container {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: top;
	overflow: visible;
}

.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
}