/* strangely the nvd3 multiBarHorizontalChart has the axis names reversed so that the yaxis is actually along bottom.
Presumably this is because it used the same code as the vertical chart
*/

[charttype$="barchartmap"] .nvd3.nv-multiBarHorizontalChart .nv-x.nv-axis text {
  font-size: 15;
}

[charttype$="barchartmap"]
  .nvd3.nv-multiBarHorizontalChart
  .nv-x.nv-axis
  text.mode-share-by-county-trip-mode-current-county {
  font-weight: bold;
}

.mode-share-by-county-trip-mode-bubbles,
.mode-share-by-county-trip-mode-zones {
  font-weight: bold;
}

/*
 * Implemented this way to make the leaflet map controls consistent with the
 * bootstrap select menus above the map. TODO: factor this out into more
 * consistent, more semantic global.css.
 */
#poi_FreightFlows-tooltable > tbody > tr > td:nth-child(odd) {
  font-weight: 600;
  font-size: 14px;
}

.bar-chart-map__palette {
  margin-top: 1em;
}

.bar-chart-map__control-section label {
  display: block;
}

.bar-chart-map__ramp {
  float: none;
}

.bar-chart-map__select_fields > div {
  margin-top: 1em;
}

.zone-bubble-toggle-container {
  clear: both;
  display: flex;
  align-items: baseline;
}

.bar-chart-map__control-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.bar-chart-map__control-section > * {
  flex: 4;
  margin: 1em;
}

.bar-chart-map__control-section > *:last-child {
  flex: 3;
}

.bar-chart-map__control-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  flex-grow: 1;
}

.bar-chart-map__control-grid > * {
  padding: 0 1em;
  flex: 1 0 auto;
}

.map-control-set {
  flex-basis: 12em;
  min-width: 12em;
}

.map-control-set > label,
.zone-control-set > label,
.bubble-control-set > label {
  display: block;
}

.bar-chart-map__control-grid:before {
  display: none;
}

.bar-chart-map__control-grid label {
  margin-top: 20px;
}

.bar-chart-map__control-grid > .sp-replacer {
  justify-self: start;
}
