.chord-chart-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chord-chart-container > svg {
  min-width: 200px;
}

[selector$="chordcircle"] circle {
  fill: none;
  pointer-events: all;
}
.group path {
  fill-opacity: 0.7;
}
path.chord {
  fill-opacity: 0.7;
  stroke-width: 0.25px;
}

[selector$="chordcircle"].hover path.faded {
  display: none;
}

[charttype$="chordchart"] {
  font: 10px sans-serif;
}

.chordLegend circle,
.chordLegend text {
  cursor: pointer;
}
.chord-tooltip {
  color: white;
  opacity: 0.9;
  background: #333;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  white-space: pre-wrap;
  pointer-events: none;
  font-size: 15px;
}

.chord-tooltiptable {
  width: 100%;
  margin-left: 3%;
  font-size: 1em;
}
.chord-tooltiptable tr {
  border-right: 3px solid black;
  border-left: 3px black solid !important;
  font-size: 1em;
}
html {
  overflow-y: scroll;
}
