      [selector$="chordcircle"] circle {
        fill: none;
        pointer-events: all;
      }
      .group path {
        fill-opacity: .7;
      }
      path.chord {
        fill-opacity: .7;
        stroke-width: .25px;
      }
      [selector$="chordcircle"]:hover path.faded {
        display: none;
      }

[charttype$="chordchart"] {
    font: 10px sans-serif;
}

.chordLegend circle, .chordLegend text {
    cursor: pointer;
}
[selector$="chordtooltip"] {
        color: white;
        opacity: .9;
        background: #333;
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        visibility: hidden;
        white-space: pre-wrap;
        pointer-events: none;
      }