/* strangely the nvd3 multiBarHorizontalChart has the axis names reversed so that the yaxis is actually along bottom.
Presumably this is because it used the smae code as the vertical chart
*/

[charttype$="groupbarchart"] .nv-x .tick text,
#grouped-barchart-div .nv-x .tick foreignObject p {
  font-size: 15;
}

[charttype$="groupbarchart"] .nv-x .tick text.selected,
#grouped-barchart-div .nv-x .tick foreignObject p.selected {
  font-weight: bold;
}

.grouped-bar-chart__container {
  height: 550px;
  padding-bottom: 3em;
}

.barcharttitle {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.nvd3 rect[height="1"] {
  display: none !important;
}

.nvd3 rect[width="1"] {
  display: none !important;
}
