body {
  font-family: Gotham, Arial;
}

.hero-parallax {
  background-image: linear-gradient(
      rgba(136, 76, 27, 0.5),
      rgba(246, 140, 52, 0)
    ),
    url("/charles-forerunner-small.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  margin-bottom: -10px;
  color: #fff;
}

.btn.btn__rsg-landing-page {
  background-color: rgb(0, 0, 0, 0.5);
  color: lightgray;
  font-size: 19px;
  padding: 0.7em;
  margin-top: 1em;
}

.covid-subheader {
  margin-left: 1em;
}

.hero-text {
  padding: 50px;
  height: 96%;
}

.hero-text p {
  color: lightgray;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #222222;
  color: white;
  width: 100%;
  z-index: 999999;
  padding: 5px 0px 5px 0px;
}

.footer-container {
  position: relative;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-container,
.footer-container a,
.footer-container a:visited {
  color: #9d9d9d;
}

#leftbar {
  margin: 5em;
}

#sidebar {
  margin-top: 6em;
}

/* #leftbar, #sidebar {
  background-color: #000000de;
  border-radius: 30px;
  padding: 2em;
} */

.landing-page-content {
  margin-top: 3em;
}

#navbarlink {
  padding-left: 1em;
  padding-top: 1.1em;
  margin-right: -0.5em;
}

#sidebarhead img,
#sidebarimg img,
#sidebarinforight {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  width: 75%;
}
