/* strangely the nvd3 multiBarHorizontalChart has the axis names reversed so that the yaxis is actually along bottom.
Presumably this is because it used the same code as the vertical chart
*/

li.multiselect-selected a label {
	background-color:#e09d15;
}
[charttype$="poimap"] .nvd3.nv-multiBarHorizontalChart .nv-x.nv-axis text.mode-share-by-county-trip-mode-current-county {
	font-weight: bold;
}

[selector$="poimap-div"] div.leaflet-popup-content {
	width: 100%;
}
[selector$="poimap-tooltable"] > tbody > tr > td {
	padding:3px !important;
}