body {
	padding-top: 50px;
}

.dynamic-content{
	display:none;
}

.right-border {
	border-right: 1px dashed #333;
}

.vert-centered {display: table-cell;vertical-align: middle;text-align: center;}

.ramp {
	float: left;
	margin: 5px 5px 0 5px;
	cursor: pointer;
}

.ramp.selected {
	border: 1px solid black;
}

.slider-tip {
	opacity: 1;
	bottom: 120%;
	margin-left: -.5em;
}

.svg-container {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: top;
	overflow: visible;
}

.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
}