body {
	padding-top: 50px;
}
.dataTables_wrapper {
	padding-top:10px;
}
.collapse {
	border-top: 1px dashed #333;
}
.dataTables_wrapper table {
	width: auto;
}

.dynamic-content{
	display:none;
}

.right-border {
	border-right: 1px dashed #333;
}
.left-border {
	border-left: 1px dashed #333;
}

.vert-centered {display: table-cell;vertical-align: middle;text-align: center;}

.ramp {
	float: left;
	margin: 5px 5px 0 5px;
	cursor: pointer;
}

.ramp.selected {
	border: 1px solid black;
}

.slider-tip {
	opacity: 1;
	bottom: 120%;
	margin-left: -.5em;
}

.svg-container {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: top;
	overflow: visible;
}

.svg-content-responsive {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 0;
}

.form-control-inline {
	min-width: 0;
	width: auto;
	display: inline;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: white;
	cursor: default;
	background-color: #222222;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	border-bottom-color: #E09D15;
	border-bottom-style: inset;
	border-bottom-width: 7px;
}
.nav-tabs>li a {
	font-weight:bold;
	color:black;
}

#main_div{
	margin-bottom:25px;
}

.datatable-div {
    margin-top: 10px;
}
.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    max-height: 25px;
    background-color: #222222;
    color: white;
    width: 100%;
    z-index: 999999;
}

.spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}