.timeuse-main {
  padding: 0px;
  padding-left: 0;
  padding-top: 0;
}

.timeuse-sidebar {
  padding-left: 10px;
}

.timeuse-text-area {
  margin-bottom: 10px;
  text-align: center;
}

.timeuse-legend {
  vertical-align: middle;
  cursor: default;
  margin-left: 40px;
  margin-right: 20px;
}

.timeuse-legend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timeuse-legend-item {
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  padding: 0 0.5em;
  margin: 0.2em;
  cursor: pointer;
}

.timeuse-legend-item-hover {
  background-color: #e09d15ba;
}

.timeuse-current-person-type {
  opacity: 1;
  background-color: #e09d15;
  font-weight: 400;
  color: black;
}

.timeuse-chart {
  position: relative;
  padding-left: 0;
  padding-top: 0;
  height: 600px;
  width: 100%;
}

.timeuse-chart path {
  stroke: #fff;
}

.timeuse-explanation {
  position: absolute;
  top: 0px;
  left: 0px;
  display: table;
  color: #666;
  z-index: -1;
  padding-left: 0px;
}

.timeuse-explanation p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.timeuse-percentage {
  font-size: 2.5em;
}

.timeuse-current-node {
  font-size: 2em;
}

.timeuse-current-node-value {
  font-size: 1.5em;
}
